# GPA

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'Course': ['PHYS 205', 'MATH 205', 'MATH 204', 'ENGR 201', 'ECON 201', 'ENGR 233', 'ENGR 213',
                  'COEN 243', 'COEN 212', 'ENGR 301', 'ENCS 282', 'ELEC 273', 'COEN 231', 'ENGR 371',
                  'ENGR 251', 'ENGR 242', 'MIAE 221', 'MIAE 211', 'INDU 211', 'ENGR 311'],
       'Letter Grade': ['A+','A','A+','B-','A-','C+','B','B+','C','C+','A-','D-','C','A-','B-','D','A','A+','A','A+']}

In [3]:
df = pd.DataFrame(data)

In [4]:
# Add a GPA column into the data
def grade_to_gpa(letter_grade):
        if letter_grade == 'A+':
            return 4.3
        elif letter_grade == 'A':
            return 4.0
        elif letter_grade == 'A-':
            return 3.7
        elif letter_grade == 'B+':
            return 3.3
        elif letter_grade == 'B':
            return 3.0
        elif letter_grade == 'B-':
            return 2.7
        elif letter_grade == 'C+':
            return 2.3
        elif letter_grade == 'C':
            return 2.0
        elif letter_grade == 'C-':
            return 1.7
        elif letter_grade == 'D+':
            return 1.3
        elif letter_grade == 'D':
            return 1.0
        elif letter_grade == 'D-':
            return 0.7
        elif letter_grade == 'F':
            return 0
        else:
            return None

In [5]:
# Applying the function to create the GPA column
df['GPA'] = df['Letter Grade'].apply(grade_to_gpa)
df

      Course Letter Grade  GPA
0   PHYS 205           A+  4.3
1   MATH 205            A  4.0
2   MATH 204           A+  4.3
3   ENGR 201           B-  2.7
4   ECON 201           A-  3.7
5   ENGR 233           C+  2.3
6   ENGR 213            B  3.0
7   COEN 243           B+  3.3
8   COEN 212            C  2.0
9   ENGR 301           C+  2.3
10  ENCS 282           A-  3.7
11  ELEC 273           D-  0.7
12  COEN 231            C  2.0
13  ENGR 371           A-  3.7
14  ENGR 251           B-  2.7
15  ENGR 242            D  1.0
16  MIAE 221            A  4.0
17  MIAE 211           A+  4.3
18  INDU 211            A  4.0
19  ENGR 311           A+  4.3

In [6]:
# Get my Cumulative GPA
CGPA = df['GPA'].mean()
print(round(CGPA, 2))

3.12

In [ ]:
# Add courses